body{
  background: pink;
  box-sizing: border-box;
  font-size:30px;
  font-weight: 400;
}

#form input{
  
  width: 30%;
  max-width: 600px;
  display: block;
  margin:20px;
}

main{
  background: lightsteelblue;
  padding: 30px;
}

button{
  background: goldenrod ;
  margin: 10px;
  padding: 10px;
}

input{
  padding: 10px;
}